<div>
  <div>
    <h1>
      List of all cuisine restaurants
    </h1>
  </div>
</div>

<hr>

<div>
  <div>
    <h2>
      Add a new cuisine restaurant
    </h2>

    <form action="/insert_cuisine_restaurant" method="post">
      <div>
        <label for="cuisine_id_box">
          Cuisine
        </label>

        <input type="text" id="cuisine_id_box" name="query_cuisine_id">
      </div>

      <div>
        <label for="restaurant_id_box">
          Restaurant
        </label>

        <input type="text" id="restaurant_id_box" name="query_restaurant_id">
      </div>

      <button>
        Create cuisine restaurant
      </button>
    </form>
  </div>
</div>

<hr>
<div>
  <div>
    <table border="1">
      <tr>
        <th>
          ID
        </th>

        <th>
          Cuisine
        </th>

        <th>
          Restaurant
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @list_of_cuisine_restaurants.each do |a_cuisine_restaurant| %>
      <tr>
        <td>
          <%= a_cuisine_restaurant.id %>
        </td>

        <td>
          <%= a_cuisine_restaurant.cuisine_id %>
        </td>

        <td>
          <%= a_cuisine_restaurant.restaurant_id %>
        </td>

        <td>
          <%= time_ago_in_words(a_cuisine_restaurant.created_at) %> ago
        </td>
        <td>
          <%= time_ago_in_words(a_cuisine_restaurant.updated_at) %> ago
        </td>

        <td>
          <a href="/cuisine_restaurants/<%= a_cuisine_restaurant.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
