<div>
  <div>
    <h1>
      Let's Eat-up!
    </h1>
  </div>
</div>

<hr>

<div>
  <div>
    <h2>
      Open a new Eat-up request
    </h2>

    <form action="/insert_meeting" action="/insert_meeting_user" method="post">
      <div>
        <label for="time_box">
          Time
        </label>

        <input type="datetime-local" id="time_box" name="query_time">
      </div>

      <div>
        <label for="restaurant_id_box">
          Restaurant
        </label>

        <select id="restaurant_id_box" name="query_restaurant_id">
          <% Restaurant.all.each do |a_restaurant| %>
            <option value="<%= a_restaurant.id %>"><%= a_restaurant.name %></option>
          <% end %>
        </select>
      </div>


      <div>
        <input type="hidden" id="status_box" name="query_status" value="Pending">
      </div>

      <div>
        <label for="reservation_status_box">
          Reservation already made? Yes/No
        </label>

        <input type="text" id="reservation_status_box" name="query_reservation_status">
      </div>

        <h3>Optional Eat-up Criteria</h3>
        <h4>Specify if you want to ensure your Eat-up partner matches the following:</h4>
      <div>
        <label for="age_min">
          Minimum age
        </label>

        <input type="text" id="age_min" placeholder="optional" name="query_age_min">
      </div>
      <div>
        <label for="age_max">
          Maximum age
        </label>

        <input type="text" id="age_max" placeholder="optional" name="query_age_max">
      </div>
      <div>
        <label for="req_gender">
          Gender
        </label>

        <select id="req_gender" name="query_req_gender">
          <option value="nil">No preference</option>
          <option value="Male">Male</option>
          <option value="Female">Female</option>
          <option value="Bi">Bisexual</option>          
          <option value="Trans">Transexual</option>
          <option value="Asexual">Asexual</option>
          <option value="Non-binary">Non-binary</option>
        </select>
      </div>

      <br>

      <button>
        Create Eat-up invitation
      </button>
    </form>
  </div>
</div>

<br>
<hr>
<h2>My Eat-Ups</h2>

<% if @list_of_meetings.count == 0 %>
<div>You haven't created or joined any Eat-ups yet.</div>
<% else %>
<div>
  <div>
    <table border="1">
      <tr>
        <th>
          Restaurant
        </th>
        <th>
          Time of Eat-up
        </th>

        <th>
          Status
        </th>

        <th>
          Reservation?
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @list_of_meetings.each do |a_meeting| %>
      <tr>
        <td>
          <%= a_meeting.restaurant.name %>
        </td>

        <td>
          <%= a_meeting.time.strftime("%A, %d %b %Y %l:%M %p") %>
        </td>

        <td>
          <%= a_meeting.status %>
        </td>

        <td>
          <%= a_meeting.reservation_status %>
        </td>

        <td>
          <%= time_ago_in_words(a_meeting.created_at) %> ago
        </td>
        <td>
          <%= time_ago_in_words(a_meeting.updated_at) %> ago
        </td>

        <td>
          <a href="/meetings/<%= a_meeting.id %>">
            Edit Details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>
<% end %>

<hr>
