<div>
  <div>
    <h1>
      Eat-up #<%= @the_meeting.id %> details
    </h1>

    <div class="mb-3">
      <div>
        <a href="/meetings">
          Go back
        </a>
      </div>

      <div>
        <% if @this_meeting_user.user_order == 1 %>
          <a href="/delete_meeting/<%= @the_meeting.id %>">
            Delete Eat-up
          </a>
        <% elsif @this_meeting_user.user_order != nil %>
          <a href="/delete_meeting_user/<%= @the_meeting.id %>/<%= @current_user.id %>">
            Leave Eat-up
          </a>
        <% else %>
          <div>Looks like there's nothing here!</div>
        <% end %>
      </div>
    </div>

    <dl>
      <dt>
        Restaurant
      </dt>
      <dd>
        <%= @the_meeting.restaurant.name %>
      </dd>

      <dt>
        Time of Eat-up
      </dt>
      <dd>
        <%= @the_meeting.time.strftime("%A, %d %b %Y %l:%M %p") %>
      </dd>

      <dt>
        Status
      </dt>
      <dd>
        <%= @the_meeting.status %>
      </dd>

      <dt>
        Seats Left
      </dt>
      <dd>
        <%= @the_meeting.seats_remaining %>
        <% if @the_meeting.seats_remaining == 1 %>
          seat remaining
        <% else %>
          seats remaining
        <% end %>
      </dd>

      <dt>
        Reservation Under
      </dt>
      <dd>
        <%= @the_meeting.reservation_status %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_meeting.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_meeting.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

<hr>


<div>
  <div>
    <% if @current_user.id == @user_one_id %>
      <h2>
        Edit Eat-up
      </h2>

      <form action="/modify_meeting/<%= @the_meeting.id %>"  method="post" >
        <div>
          <label for="time_box">
            Time
          </label>

          <input type="datetime-local" id="time_box" name="query_time" value="<%= @the_meeting.time %>">
        </div>

        <div>

          <label for="restaurant_id_box">
            Restaurant
          </label>

          <select id="restaurant_id_box" name="query_restaurant_id">
            <% Restaurant.all.each do |a_restaurant| %>
              <option value="<%= a_restaurant.id %>"><%= a_restaurant.name %></option>
            <% end %>
          </select>
        </div>

        <div>
          <input type="hidden" id="status_box" name="query_status" value="<%= @the_meeting.status %>">
        </div>

        <div>
          <label for="reservation_status_box">
            Reservation status
          </label>

          <input type="text" id="reservation_status_box" name="query_reservation_status" value="<%= @the_meeting.reservation_status %>">
        </div>

        <% if @the_meeting.status=="Pending" %>
        <br>
        <h3>Optional Eat-up criteria</h3>
        <div>
          <label for="age_min">
            Minimum age
          </label>

          <input type="text" id="age_min" value="<%= @the_meeting.age_min %>" name="query_age_min">
        </div>
        <div>
          <label for="age_max">
            Maximum age
          </label>

          <input type="text" id="age_max" value="<%= @the_meeting.age_max %>" name="query_age_max">
        </div>
      <div>
        <label for="req_gender">
          Gender
        </label>

        <select id="req_gender" name="query_req_gender" value="<%= @the_meeting.sex %>">
          <option value="nil">No preference</option>
          <option value="Male">Male</option>
          <option value="Female">Female</option>
          <option value="Bi">Bisexual</option>          
          <option value="Trans">Transexual</option>
          <option value="Asexual">Asexual</option>
          <option value="Pansexual">Pansexual</option>
          <option value="Non-conforming">Non-conforming</option>
        </select>
      </div>

      <br>

        <% end %>

        <button>
          Update Eat-up
        </button>
      </form>
      <br>
    </div>
  </div>
  <hr>
  <% end %>
