<div>
  <div>
    <h1>
      Eat-up #<%= @the_meeting.id %> details
    </h1>

    <div>
      <div>
        <a href="/meetings">
          Go back
        </a>
      </div>

      <div>
        <a href="/delete_meeting/<%= @the_meeting.id %>">
          Delete Eat-up
        </a>
      </div>
    </div>

    <dl>
      <dt>
        Restaurant
      </dt>
      <dd>
        <%= @the_meeting.restaurant.name %>
      </dd>

      <dt>
        Time of Eat-up
      </dt>
      <dd>
        <%= @the_meeting.time.strftime("%A, %d %b %Y %l:%M %p") %>
      </dd>

      <dt>
        Status
      </dt>
      <dd>
        <%= @the_meeting.status %>
      </dd>

      <dt>
        Reservation status
      </dt>
      <dd>
        <%= @the_meeting.reservation_status %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_meeting.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_meeting.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

<hr>


<div>
  <div>
    <h2>
      Edit Eat-up
    </h2>

    <form action="/modify_meeting/<%= @the_meeting.id %>"  method="post" >
      <div>
        <label for="time_box">
          Time
        </label>

        <input type="datetime-local" id="time_box" name="query_time"
         value="<%= @the_meeting.time %>">
      </div>

      <div>

        <label for="restaurant_id_box">
          Restaurant
        </label>

        <select id="restaurant_id_box" name="query_restaurant_id">
          <% Restaurant.all.each do |a_restaurant| %>
            <option value="<%= a_restaurant.id %>"><%= a_restaurant.name %></option>
          <% end %>
        </select>
      </div>

      <div>
        <input type="hidden" id="status_box" name="query_status" value="<%= @the_meeting.status %>">
      </div>

      <div>
        <label for="reservation_status_box">
          Reservation status
        </label>

        <input type="text" id="reservation_status_box" name="query_reservation_status" value="<%= @the_meeting.reservation_status %>">
      </div>

      <% if @the_meeting.status=="pending" %>
      <div>
        <label for="age_min">
          Minimum age
        </label>

        <input type="text" id="age_min" value="<%= @the_meeting.age_min %>" name="query_age_min">
      </div>
      <div>
        <label for="age_max">
          Maximum age
        </label>

        <input type="text" id="age_max" value="<%= @the_meeting.age_max %>" name="query_age_max">
      </div>
      <div>
        <label for="gender">
          Gender
        </label>

        <input type="text" id="req_gender" value="<%= @the_meeting.req_gender %>" name="query_req_gender">
      </div>

      <% end %>

      <button>
        Update Eat-up request
      </button>
    </form>
  </div>
</div>

<hr>
