<div>
  <div>
    <h1>
      List of all restaurants
    </h1>
  </div>
</div>

<hr>

<div>
  <div>
    <h2>
      Add a new restaurant
    </h2>

    <form action="/insert_restaurant" method="post">
      <div>
        <label for="name_box">
          Name
        </label>

        <input type="text" id="name_box" name="query_name">
      </div>

      <div>
        <label for="description_box">
          Description
        </label>

        <textarea id="description_box" name="query_description" rows="3"></textarea>
      </div>

      <div>
        <label for="location_box">
          Location
        </label>

        <input type="text" id="location_box" name="query_location">
      </div>

      <div>
        <input type="checkbox" id="reservation_possible_box" name="query_reservation_possible" value="1">

        <label for="reservation_possible_box">Reservation possible</label>
      </div>

      <button>
        Create restaurant
      </button>
    </form>
  </div>
</div>

<hr>
<div>
  <div>
    <table border="1">
      <tr>
        <th>
          ID
        </th>

        <th>
          Name
        </th>

        <th>
          Description
        </th>

        <th>
          Location
        </th>

        <th>
          Reservation possible
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @list_of_restaurants.each do |a_restaurant| %>
      <tr>
        <td>
          <%= a_restaurant.id %>
        </td>

        <td>
          <%= a_restaurant.name %>
        </td>

        <td>
          <%= a_restaurant.description %>
        </td>

        <td>
          <%= a_restaurant.location %>
        </td>

        <td>
          <%= a_restaurant.reservation_possible %>
        </td>

        <td>
          <%= time_ago_in_words(a_restaurant.created_at) %> ago
        </td>
        <td>
          <%= time_ago_in_words(a_restaurant.updated_at) %> ago
        </td>

        <td>
          <a href="/restaurants/<%= a_restaurant.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
