<div>
  <div>
    <h1>
      List of all restaurants
    </h1>
  </div>
</div>

<div>
  <div>
   <%= will_paginate(@list_of_restaurants, :renderer => WillPaginate::ActionView::Bootstrap4LinkRenderer) %>
    <table class="table table-striped table-hover table-bordered table-responsive">
      <thead class="table-dark">
        <tr>
          <th>
            No
          </th>

          <th>
            Name
          </th>

          <th>
            Description
          </th>

          <th>
            Location
          </th>

          <th>
            Takes reservations?
          </th>
          <th>
          </th>
        </tr>
      </thead>

      <tbody>
        <% @list_of_restaurants.each do |a_restaurant| %>
        <tr>
          <td>
            <%= a_restaurant.id %>
          </td>

          <td>
            <a href="/restaurants/<%= a_restaurant.id %>"><%= a_restaurant.name %></a>
          </td>

          <td>
            <%= a_restaurant.description %>
          </td>

          <td>
            <%= a_restaurant.location %>
          </td>

          <td>
            <%= a_restaurant.reservation_possible %>
          </td>

          <td>
            <a href="/meetings/restaurant/<%= a_restaurant.id %>">
              Organize an Eat-up here!
            </a>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
    <%= will_paginate(@list_of_restaurants, :renderer => WillPaginate::ActionView::Bootstrap4LinkRenderer) %>
  </div>
</div>

<br>
<hr>

<div>
  <div>
    <h2>
      Don't see the restaurant you're looking for?
    </h2>
    <h3>
      Add it to the master list here!
    </h3>

    <form action="/insert_restaurant" method="post">
      <div>
        <label for="name_box">
          Name
        </label>

        <input type="text" id="name_box" name="query_name">
      </div>

      <div>
        <label for="description_box">
          Description
        </label>

        <textarea id="description_box" name="query_description" rows="3"></textarea>
      </div>

      <div>
        <label for="location_box">
          Location
        </label>

        <input type="text" id="location_box" name="query_location">
      </div>

      <div>
        <input type="checkbox" id="reservation_possible_box" name="query_reservation_possible" value="1">

        <label for="reservation_possible_box">Takes reservations</label>
      </div>

      <button>
        Add restaurant
      </button>
    </form>
  </div>
</div>
